streamlit==1.47.1
langgraph==0.6.1
langgraph-checkpoint==2.1.1
langgraph-checkpoint-sqlite==2.0.11
langgraph-prebuilt==0.6.1
langchain==0.3.27
langchain-core==0.3.72
langchain-groq
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-mcp-adapters==0.1.6
python-dotenv==1.1.1
requests==2.32.4
aiosqlite
httpx==0.28.1